{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--owl carousel-->
    <link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css">
 <title>Details</title>

</head>
<body>

                    <div class="container">
                       <div class="row">
                          <div class="col-md-9 col-lg-8 mx-auto pl-5 pr-5">
                              <br><br>
                             <h3 class="login-heading mb-4">New Buddy!</h3>
                             <form>
                                <div class="form-label-group">
                                   <input type="email" id="inputEmail" class="form-control" placeholder="Email address">
                                   <label for="inputEmail">Email address / Mobile</label>
                                </div>
                                <div class="form-label-group">
                                   <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                                   <label for="inputPassword">Password</label>
                                </div>
                                <div class="form-label-group mb-4">
                                   <input type="text" id="ptext" class="form-control" placeholder="Promocode">
                                   <label for="ptext">Promocode</label>
                                </div>
                                <a href="index.html" class="btn btn-lg btn-outline-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Sign Up</a>
                                <div class="text-center pt-3">
                                   Already have an Account? <a class="font-weight-bold" href="login.html">Sign In</a>
                                </div>
                             </form>
                          </div>
                       </div>
                    </div>








    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>